/chapterOne/nbproject/private/
/chapterOne/build/
/chapterTwo/nbproject/private/
/chapterTwo/build/
/chapterThree/nbproject/private/
/AssignmentOne/nbproject/private/
/AssignmentOne/build/
/assignmentTwo/nbproject/private/
/assignmentTwo/build/
/ExamOne/nbproject/private/
/ExamOne/build/
/assignmentThree/nbproject/private/
/assignmentThree/build/
/assignmentFour/nbproject/private/
/assignmentFour/build/
/assignmentFive/nbproject/private/
/assignmentFive/build/
/Final2018/nbproject/private/
/Final2018/build/